@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div>
    @if (NavBarState.Value.DrawerOpen)
    {
        <MudFab Class="md-fab-bottom-left" Color="Color.Primary" StartIcon="@Icons.Material.Filled.ChevronRight" Size="Size.Small" OnClick="@ToggleDrawer" />        
    }
    else
    {
        <MudFab Class="md-fab-bottom-left md-fab-faded" Color="Color.Primary" StartIcon="@Icons.Material.Filled.ChevronLeft" Size="Size.Small" OnClick="@ToggleDrawer" />
    }
</div>