@inherits Fluxor.Blazor.Web.Components.FluxorLayout

<MudThemeProvider IsDarkMode="@ThemeState.Value.IsDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <AppBar/>
    <NavBar/>
    <MudMainContent>
        <div class="ma-4">
            @Body
        </div>
    </MudMainContent>
</MudLayout>
