@inherits Fluxor.Blazor.Web.Components.FluxorLayout

<MudThemeProvider Theme="@DefaultTheme" IsDarkMode="@ThemeState.Value.IsDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudLayout>
    <NavBar />
    <MudMainContent>
        <div class="ma-4">
            @Body
        </div>
    </MudMainContent>
    <AppBar />
    <UpdateAvailableDetector />
</MudLayout>